@import "../variables";
/*------------------------------
Footer
-------------------------------*/

footer {
  align-content: center;
  color: #fff;
  margin-bottom: 0;
  padding: $base-unit * 2 $base-unit * 2 $base-unit * 2 $base-unit * 8;
  background: var(--midnight)
    url('/svg/barcamp-logo.svg')
    no-repeat 32px center;

  b {
    display: block;
    font-weight: 400;
    font-size: 1.8rem;
    margin-bottom: $base-unit;
  }

  p {
    font-size: 1.8rem;
    padding: 0;
    margin: 0;
  }

  .col-left {
    grid-column: 1 / 5;

    @media (max-width: 900px) {
      grid-column: 1 / -1;
      grid-row: 1;
    }
  }

  .col-right {
    grid-column: 5 / 8;

    ul {
      padding: 0;
      margin: 0 0 $base-unit 0;
      list-style-type: none;

      li {
        display: inline-block;
        margin: 0 $base-unit;

        &:first-child {
          margin-left: 0;
        }

        a:before,
        a:after {
          display: none;
        }
      }
    }

    @media (max-width: 900px) {
      padding-top: $base-unit;
      grid-column: 1 / -1;
      grid-row: 2;
    }
  }
}
