@use 'sass:math';
@import "../variables";

.photo-themes {
  position: relative;
  overflow: hidden;

  span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    @supports (mix-blend-mode: screen) {
      mix-blend-mode: screen;
    }

    &.teen-party {
      background: $teen-party;
      z-index: 400;
    }

    &.cotton-candy {
      background: $cotton-candy;
      z-index: 300;
    }

    &.sunset {
      background: $sunset;
      z-index: 200;
    }

    &.mist {
      background: $mist;
      z-index: 100;
    }
  }
}

/*------------------------------
Themes
-------------------------------*/

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

ul.themes {
  z-index: 1000;
  position: fixed;
  top: 80px;
  left: 0;
  vertical-align: top;
  height: auto;
  width: auto;
  line-height: 1;
  font-size: 0 !important;
  padding: $base-unit;
  margin: 0;
  text-align: center;
  background: barcamp-color("midnight");
  box-shadow: 0 math.div($base-unit,2) $base-unit * 2 0 rgba(42, 56, 57, 0.15);

  li {
    display: block;
    height: $base-unit;
    width: $base-unit;
    padding: 0;
    margin: $base-unit 0;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: all 0.25s ease-in-out;

    &:hover {
      transform: scale(1.25);
    }

    &:first-child {
      margin-top: 0;
      animation-delay: 0s;
    }

    &:nth-child(2) {
      animation-delay: 0.25s;
    }

    &:nth-child(3) {
      animation-delay: 0.5s;
    }

    &:nth-child(4) {
      margin-bottom: 0;
      animation-delay: 0.75s;
    }

    a:where(:not(.button)) {
      position: relative;
      display: inline-block;
      height: $base-unit;
      width: $base-unit;
      @include hide-text;
      background: #fff;

      &.cotton-candy {
        &:before {
          transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
          background: barcamp-color("cotton-candy--primary");
        }

        &:after {
          transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
          background: barcamp-color("cotton-candy--secondary");
        }
      }

      &.sunset {
        &:before {
          transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
          background: barcamp-color("sunset--primary");
        }

        &:after {
          transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
          background: barcamp-color("sunset--secondary");
        }
      }

      &.mist {
        &:before {
          transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
          background: barcamp-color("mist--primary");
        }

        &:after {
          transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
          background: barcamp-color("mist--secondary");
        }
      }

      &.teen-party {
        &:before {
          transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
          background: barcamp-color("teen-party--primary");
        }

        &:after {
          transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
          background: barcamp-color("teen-party--secondary");
        }
      }
    }
  }

  @media screen and (min-width: 1440px) {
    left: calc(50% - 720px);
  }

  @media only screen and (max-width: 600px) {
    width: auto;
    max-width: 200px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: auto;
    bottom: 0;

    li {
      display: inline-block;
      margin: 0 math.div($base-unit,2);
      padding: 0;
    }
  }
}

body.teen-party {
  // header.hero .logo span {
  //   background-size: contain;
  //   background: transparent
  //     url('/svg/logo.svg')
  //     no-repeat;
  //   opacity: 1;
  //   color: barcamp-color("teen-party--primary");
  // }

  header.hero .logo {
    .logo__b {
      fill: barcamp-color("teen-party--primary");
    }

    .logo__n {
      fill: barcamp-color("teen-party--secondary");
    }
  }

  .photo-themes span.teen-party {
    opacity: 0.5;
    @supports (mix-blend-mode: screen) {
      opacity: 1;
    }
  }
}

body.cotton-candy {
  *::selection {
    color: white;
    background: barcamp-color("cotton-candy--secondary");
  }

  // header.hero .logo span {
  //   background-size: contain;
  //   background: transparent
  //     url('/svg/logo.svg')
  //     no-repeat;
  //   opacity: 1;
  //   color: barcamp-color("cotton-candy--primary");
  // }

  header.hero .logo {
    .logo__b {
      fill: barcamp-color("cotton-candy--primary");
    }

    .logo__n {
      fill: barcamp-color("cotton-candy--secondary");
    }
  }

  .photo-themes span.cotton-candy {
    opacity: 0.5;
    @supports (mix-blend-mode: screen) {
      opacity: 1;
    }
  }

  a:where(:not(.button)) {
    color: barcamp-color("cotton-candy--secondary");

    &:before {
      transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
      background: barcamp-color("cotton-candy--secondary");
    }

    &:after {
      transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
      background: barcamp-color("cotton-candy--primary");
    }
  }

  header.hero .btn {
    color: barcamp-color("cotton-candy--secondary");
    border-color: barcamp-color("cotton-candy--secondary");
    &:hover {
      border: 1px solid transparent;
    }
  }

  .what-is-barcamp--left .photos-wrapper .photo--001 {
    background-image: url(../images/photo-001.jpg), $cotton-candy;
  }

  .what-is-barcamp--left .photos-wrapper .photo--002 {
    background-image: url(../images/photo-002.jpg), $cotton-candy;
  }

  .frequently-asked-question ul li:first-child:before,
  .frequently-asked-question ul:nth-child(2) li:last-child:before,
  .our-sessions .session:before {
    background: barcamp-color("cotton-candy--secondary");
  }

  .frequently-asked-question ul li:first-child:after,
  .frequently-asked-question ul:nth-child(2) li:last-child:after,
  .our-sessions .session:after {
    background: barcamp-color("cotton-candy--primary");
  }

  .where-is-barcamp .location {
    background-image: url("/images/hippodrome-small.jpg"), $cotton-candy;
  }

  .our-tracks .col-full .photo-themes {
    background-image: url("/images/photo-003.jpg"), $cotton-candy;
  }

  .our-tracks .col-full .photo-themes ul li i,
  .our-sessions .session_content i {
    background: barcamp-color("cotton-candy--secondary");
  }
}

body.sunset {
  *::selection {
    color: white;
    background: barcamp-color("sunset--tertiary");
  }

  // header.hero .logo span {
  //   background-size: contain;
  //   background: transparent
  //     url('/svg/logo.svg')
  //     no-repeat;
  //   opacity: 1;
  //   color: barcamp-color("sunset--tertiary");
  // }

  header.hero .logo {
    .logo__b {
      fill: barcamp-color("sunset--tertiary");
    }

    .logo__n {
      fill: barcamp-color("sunset--quaternary");
    }
  }

  .photo-themes span.sunset {
    opacity: 0.5;
    @supports (mix-blend-mode: screen) {
      opacity: 1;
    }
  }

  a:where(:not(.button)) {
    color: barcamp-color("sunset--tertiary");

    &:before {
      transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
      background: barcamp-color("sunset--tertiary");
    }

    &:after {
      transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
      background: barcamp-color("sunset--quaternary");
    }
  }

  header.hero .btn {
    color: barcamp-color("sunset--tertiary");
    border-color: barcamp-color("sunset--tertiary");
    &:hover {
      border: 1px solid transparent;
    }
  }

  .what-is-barcamp--left .photos-wrapper .photo--001 {
    background-image: url(../images/photo-001.jpg), $sunset;
  }

  .what-is-barcamp--left .photos-wrapper .photo--002 {
    background-image: url(../images/photo-002.jpg), $sunset;
  }

  .frequently-asked-question ul li:first-child:before,
  .frequently-asked-question ul:nth-child(2) li:last-child:before,
  .our-sessions .session:before {
    background: barcamp-color("sunset--tertiary");
  }

  .frequently-asked-question ul li:first-child:after,
  .frequently-asked-question ul:nth-child(2) li:last-child:after,
  .our-sessions .session:after {
    background: barcamp-color("sunset--quaternary");
  }

  .where-is-barcamp .location {
    background-image: url("/images/uf-innovate.jpg"), $sunset;
  }

  .our-tracks .col-full .photo-themes {
    background-image: url("/images/photo-003.jpg"), $sunset;
  }

  .our-tracks .col-full .photo-themes ul li i,
  .our-sessions .session_content i {
    background: barcamp-color("sunset--tertiary");
  }
}

body.mist {
  *::selection {
    color: white;
    background: barcamp-color("mist--tertiary");
  }

  // header.hero .logo span {
  //   background-size: contain;
  //   background: transparent
  //     url('/svg/logo.svg')
  //     no-repeat;
  //   opacity: 1;
  //   color: barcamp-color("mist--primary");
  // }

  header.hero .logo {
    .logo__b {
      fill: barcamp-color("mist--primary");
    }

    .logo__n {
      fill: barcamp-color("mist--quaternary");
    }
  }

  .photo-themes span.mist {
    opacity: 0.5;
    @supports (mix-blend-mode: screen) {
      opacity: 1;
    }
  }

  a:where(:not(.button)) {
    color: barcamp-color("mist--quaternary");

    &:before {
      transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
      background: barcamp-color("mist--quaternary");
    }

    &:after {
      transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
      background: barcamp-color("mist--primary");
    }
  }

  header.hero .btn {
    color: barcamp-color("mist--quaternary");
    border-color: barcamp-color("mist--quaternary");
    &:hover {
      border: 1px solid transparent;
    }
  }

  .what-is-barcamp--left .photos-wrapper .photo--001 {
    background-image: url(../images/photo-001.jpg), $mist;
  }

  .what-is-barcamp--left .photos-wrapper .photo--002 {
    background-image: url(../images/photo-002.jpg), $mist;
  }

  .frequently-asked-question ul li:first-child:before,
  .frequently-asked-question ul:nth-child(2) li:last-child:before,
  .our-sessions .session:before {
    background: barcamp-color("mist--primary");
  }

  .frequently-asked-question ul li:first-child:after,
  .frequently-asked-question ul:nth-child(2) li:last-child:after,
  .our-sessions .session:after {
    background: barcamp-color("mist--quaternary");
  }

  .where-is-barcamp .location {
    background-image: url("/images/uf-innovate.jpg"), $mist;
  }

  .our-tracks .col-full .photo-themes {
    background-image: url("/images/photo-003.jpg"), $mist;
  }

  .our-tracks .col-full .photo-themes ul li i,
  .our-sessions .session_content i {
    background: barcamp-color("mist--primary");
  }
}
