@use 'sass:math';
@import "../variables";

ul.themes {
  z-index: 1000;
  position: fixed;
  top: 80px;
  left: 0;
  vertical-align: top;
  height: auto;
  width: auto;
  line-height: 1;
  font-size: 0 !important;
  padding: $base-unit;
  margin: 0;
  text-align: center;
  background: barcamp-color("midnight");
  box-shadow: 0 math.div($base-unit,2) $base-unit * 2 0 rgba(42, 56, 57, 0.15);

  li {
    display: block;
    height: $base-unit;
    width: $base-unit;
    padding: 0;
    margin: $base-unit 0;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: all 0.25s ease-in-out;

    &:hover {
      transform: scale(1.25);
    }

    &:first-child {
      margin-top: 0;
      animation-delay: 0s;
    }

    &:nth-child(2) {
      animation-delay: 0.25s;
    }

    &:nth-child(3) {
      animation-delay: 0.5s;
    }

    &:nth-child(4) {
      margin-bottom: 0;
      animation-delay: 0.75s;
    }

    a:where(:not(.button)) {
      position: relative;
      display: inline-block;
      height: $base-unit;
      width: $base-unit;
      @include hide-text;
      background: #fff;

      &.cotton-candy {
        &:before {
          transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
          background: barcamp-color("cotton-candy--primary");
        }

        &:after {
          transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
          background: barcamp-color("cotton-candy--secondary");
        }
      }

      &.sunset {
        &:before {
          transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
          background: barcamp-color("sunset--primary");
        }

        &:after {
          transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
          background: barcamp-color("sunset--secondary");
        }
      }

      &.mist {
        &:before {
          transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
          background: barcamp-color("mist--primary");
        }

        &:after {
          transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
          background: barcamp-color("mist--secondary");
        }
      }

      &.teen-party {
        &:before {
          transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
          background: barcamp-color("teen-party--primary");
        }

        &:after {
          transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
          background: barcamp-color("teen-party--secondary");
        }
      }
    }
  }

  @media screen and (min-width: 1440px) {
    left: calc(50% - 720px);
  }

  @media only screen and (max-width: 600px) {
    width: auto;
    max-width: 200px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: auto;
    bottom: 0;

    li {
      display: inline-block;
      margin: 0 math.div($base-unit,2);
      padding: 0;
    }
  }
}
