/*---------------------
Base
----------------------*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

*::-moz-selection {
  color: white;
  background: var(--theme--selection);
}

*::selection {
  color: white;
  background: var(--theme--selection);
}

*:focus:not(:focus-visible) {
  outline: 0;
}

html,
body {
  margin: 0;
}

html {
  font-size: 62.5%;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: var(--midnight);
}

a {
  position: relative;
  display: inline-block;
  color: var(--theme--active--primary);
  transition: color 0.2s ease;
  text-decoration: none;
  z-index: 100;
  transition: all 0.5s ease-in-out;
}
a:hover {
  color: #fff;
}
a:hover::after, a:hover::before {
  width: 100%;
  left: 0;
}
a:after, a:before {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}
a:before {
  transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
  background: var(--theme--active--primary);
}
a:after {
  transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  background: var(--theme--active--secondary);
}

img {
  display: block;
}