/*------------------------------
Footer
-------------------------------*/
footer {
  align-content: center;
  color: #fff;
  margin-bottom: 0;
  padding: 3.2rem 3.2rem 3.2rem 12.8rem;
  background: var(--midnight) url("/svg/barcamp-logo.svg") no-repeat 3.2rem center;
}
footer b {
  display: block;
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
}
footer p {
  font-size: 1.8rem;
  padding: 0;
  margin: 0;
}
footer .col-left {
  grid-column: 1/5;
}
@media (max-width: 900px) {
  footer .col-left {
    grid-column: 1/-1;
    grid-row: 1;
  }
}
footer .col-right {
  grid-column: 5/8;
}
footer .col-right ul {
  padding: 0;
  margin: 0 0 1.6rem 0;
  list-style-type: none;
}
footer .col-right ul li {
  display: inline-block;
  margin: 0 1.6rem;
}
footer .col-right ul li:first-child {
  margin-left: 0;
}
footer .col-right ul li a:before,
footer .col-right ul li a:after {
  display: none;
}
@media (max-width: 900px) {
  footer .col-right {
    padding-top: 1.6rem;
    grid-column: 1/-1;
    grid-row: 2;
  }
}