/*------------------------------
Hero
-------------------------------*/
.hero {
  margin: 0 auto;
  grid-gap: 0;
  align-items: center;
}
@media (max-width: 900px) {
  .hero {
    grid-template-columns: 1fr;
  }
}
.hero .col-left {
  grid-column: 1/7;
  grid-row: 1;
  z-index: 1;
  padding: 9.6rem;
  background: var(--midnight) url("/images/plus-texture.svg") no-repeat right center;
}
@media (max-width: 900px) {
  .hero .col-left {
    padding: 3.2rem;
  }
}
.hero .col-left .logo {
  position: relative;
  display: inline-block;
  width: 30rem;
  height: 27rem;
}
.hero .col-left .logo path {
  transition: fill 0.2s;
}
.hero .col-left h1 {
  margin-top: 6.4rem;
  color: #fff;
}
.hero .col-left h1 small {
  margin-top: 0;
  text-align: left;
  display: block;
  font-weight: 300;
  font-size: 2.4rem;
}
.hero .col-left p {
  color: #fff;
  margin-top: 3.2rem 0 0 0;
  max-width: 50rem;
  font-weight: 300;
  font-size: 2.4rem;
}
.hero .col-left small {
  display: block;
  max-width: 50rem;
  margin: 1.6rem 0 0 0;
  font-size: 1.6rem;
  text-align: center;
}
.hero .col-right {
  grid-column: 6/-1;
  grid-row: 1;
  z-index: 2;
}
@media (max-width: 900px) {
  .hero .col-right {
    display: none;
  }
}
.hero .col-right .photo--hero {
  position: relative;
  width: 45rem;
  overflow: hidden;
  filter: drop-shadow(0 0.8rem 3.2rem rgba(0, 0, 0, 0.15));
}

.button-register {
  position: relative;
  z-index: 300;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 2rem 4rem;
  transform: translatey(-50%);
  border-color: transparent;
  background: var(--theme--active--primary);
  transition: background 0.2s;
  color: white;
  font-size: 2.8rem;
  font-weight: bold;
}
.button-register img {
  width: 1.5rem;
  margin-left: 0.5rem;
  transition: transform 0.3s;
}
.button-register:hover img, .button-register:focus img {
  transform: translatex(0.5rem);
}