/*------------------------------
Where is BarCamp
-------------------------------*/
.where-is-barcamp {
  padding: 0 1.6rem;
}
.where-is-barcamp .location {
  grid-column: 2/8;
  align-items: center;
  justify-items: center;
  position: relative;
  width: 100%;
  max-width: 107rem;
  max-height: 53.5rem;
  margin: 0 auto;
  background-image: url("/images/hippodrome-small.webp"), var(--theme--active--gradient);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.15);
}
@media (max-width: 900px) {
  .where-is-barcamp .location {
    grid-column: 1/-1;
  }
}
.where-is-barcamp .location .address {
  z-index: 500;
  position: relative;
  padding: 6.4rem 3.2rem;
  color: #fff;
  width: 60rem;
  background: var(--midnight);
  background-repeat: no-repeat;
  background-position: center left;
}
.where-is-barcamp .location .address h2 {
  margin-bottom: 3.2rem;
}
.where-is-barcamp .location .address a {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
  text-decoration: none;
}
@media only screen and (max-width: 600px) {
  .where-is-barcamp .location .address {
    width: 100%;
  }
}
.where-is-barcamp .location iframe {
  position: relative;
  z-index: 500;
  height: 45rem;
  width: 60rem;
  padding: 0;
  margin: 0;
  border: 0;
}