/*------------------------------
Our Sessions
-------------------------------*/
.our-sessions {
  grid-template-columns: repeat(12, 1fr);
}
.our-sessions .col-full {
  grid-row: 1;
}
.our-sessions .col-full h2,
.our-sessions .col-full p {
  text-align: center;
  max-width: 144rem;
}
@media (max-width: 900px) {
  .our-sessions .col-full h2,
.our-sessions .col-full p {
    text-align: left;
  }
}
.our-sessions .col-full p {
  margin-bottom: 0;
}
.our-sessions .col-left {
  grid-column: 2/7;
}
.our-sessions .col-right {
  grid-column: 7/12;
}
.our-sessions .col-left,
.our-sessions .col-right {
  grid-row: 2;
}
@media (max-width: 900px) {
  .our-sessions .col-left,
.our-sessions .col-right {
    grid-template-columns: 1fr;
    grid-column: 1/-1;
    grid-row: auto;
  }
}
.our-sessions .col-left .session,
.our-sessions .col-right .session {
  margin: 3.2rem 0;
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  background: #fff;
  box-shadow: 0 8px 32px 0 rgba(42, 56, 57, 0.15);
  border: 1px solid #ECF0F1;
}
.our-sessions .col-left .session:before, .our-sessions .col-left .session:after,
.our-sessions .col-right .session:before,
.our-sessions .col-right .session:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 5rem;
  right: 0;
  bottom: 0;
  background: #cc208e;
  transition: all 0.5s ease-in-out;
}
.our-sessions .col-left .session:after,
.our-sessions .col-right .session:after {
  right: 5rem;
  background: #6713d2;
}
.our-sessions .col-left .session_vr,
.our-sessions .col-right .session_vr {
  display: inline-block;
  width: 15rem;
  background-size: cover;
  background: #2A2E39 url("/svg/session-vr.svg") no-repeat top left;
}
.our-sessions .col-left .session_vr .photo-themes,
.our-sessions .col-left .session_vr .photo-themes span,
.our-sessions .col-right .session_vr .photo-themes,
.our-sessions .col-right .session_vr .photo-themes span {
  height: 100%;
}
.our-sessions .col-left .session_content,
.our-sessions .col-right .session_content {
  padding: 3.2rem;
  width: 100%;
}
.our-sessions .col-left .session_content i,
.our-sessions .col-right .session_content i {
  font-size: 1.6rem;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  padding: 0.8rem 1.6rem;
  position: absolute;
  top: calc(-1 * 0.8rem);
  right: calc(-1 * 0.8rem);
  background: #6713d2;
}
.our-sessions .col-left .session_content h4,
.our-sessions .col-right .session_content h4 {
  margin-bottom: 1.6rem;
}
.our-sessions .col-left .session_content h4 small,
.our-sessions .col-right .session_content h4 small {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}
.our-sessions .col-left .session_content p,
.our-sessions .col-right .session_content p {
  text-align: left;
  font-size: 1.6rem;
}
.our-sessions .col-left .session--holly .session_vr,
.our-sessions .col-right .session--holly .session_vr {
  background: #ECF0F1 url(../images/holly.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.our-sessions .col-left .session--derek .session_vr,
.our-sessions .col-right .session--derek .session_vr {
  background: #ECF0F1 url(../images/derek.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.our-sessions .col-left .session--michelle-peter .session_vr,
.our-sessions .col-right .session--michelle-peter .session_vr {
  background: #ECF0F1 url(../images/michelle-peter.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.our-sessions .col-left .session--watt .session_vr,
.our-sessions .col-right .session--watt .session_vr {
  background: #ECF0F1 url(../images/WATT.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}